<div class="container py-4">
  <div class="panel panel-default bg-white">
    <div class="panel-heading">
      <div class="py-4 ml-md-4">
        <h5>{{strTipoProcesoMasivo}}</h5>
        <h2>Consulta Historial</h2>
      </div>
    </div>

    <div class="panel-body">
      <div class="px-3  pb-4">

        <form class="form">
          <div class="form-group row">
            <label for="desde" class="col-sm-1 col-form-label">Desde:</label>
            <div class="col-sm-2">
              <!-- <input type="date" class="form-control" id="desde"> -->
              <p-calendar [(ngModel)]="dteFechaDesde" [locale]="oLocaleEs" 
                          dateFormat="dd/mm/yy">
              </p-calendar>
            </div>
            <div class="col-sm-1"></div>
            <label for="archivoName" class="col-sm-1 col-form-label">Archivo:</label>
            <div class="col-sm-3">
              <input type="text" [(ngModel)]="strNombreArchivo" class="form-control" >
            </div>
            <!--<div class="col-sm-1"></div>-->
            <label for="estado" class="col-sm-1 col-form-label">Estado:</label>
            <div class="col-sm-2">
              <!-- <p-dropdown [options]="loEstado"
                          [(ngModel)]="estadoSeleccionado"
                          placeholder="Seleccionar un estado"
                          optionLabel="name"
                          [showClear]="true"
                          [ngModelOptions]="{standalone: true}">
              </p-dropdown> -->
              <p-dropdown [options]="loEstado" 
                          [(ngModel)]="oEstadoSeleccionado" 
                          placeholder="-Seleccionar un estado-" 
                          optionLabel="Descripcion" 
                          [showClear]="true"
                          [ngModelOptions]="{standalone: true}"></p-dropdown>              
            </div>
          </div>

          <div class="form-group row">
            <label for="hasta" class="col-sm-1 col-form-label">Hasta:</label>
            <div class="col-sm-2">
              <!-- <input type="date" class="form-control" id="hasta"> -->
              <p-calendar [(ngModel)]="dteFechaHasta" [locale]="oLocaleEs" 
                          dateFormat="dd/mm/yy">
              </p-calendar>
            </div>
            <div class="col-sm-1"></div>
          </div>

          <div class="d-flex justify-content-between mx-3 my-3">
            <div>
              <button pButton type="button" label="Consultar" 
                (click)="SearchHistorial()">
              </button>
            </div>
            <div>
              <button pButton type="button" icon="pi pi-file" 
                label="Descargar" (click)="DownloadRecords()">
              </button>
            </div>
          </div>

        </form>

        <app-dynamic-table 
            [loHeaderTable]="loHeadersConsultaHistorial" 
            [loData]="loResultSearch">
        </app-dynamic-table>


        <div class="d-flex justify-content-end mx-3 my-3">
          <div>
            <button pButton type="button" (click)="BackToStart()" label="Salir"></button>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
