<button class="btn btn-dtv" (click)="abrirUpload()">Volver a carga</button>

<div>
    <h2>Reporte de {{transaccion}} Masivos</h2>
    <div class="container">
        <div class="row">
            <div class="col-ms-4">
                <label class="float-left label-center">Desde: </label>
                <ngbd-datepicker-popup></ngbd-datepicker-popup>
            </div>
            <div class="col-ms-4">
                <label class="float-left label-center">Hasta: </label>
                <ngbd-datepicker-popup></ngbd-datepicker-popup>
            </div>
        </div>
    </div>
    <table style="margin-top:2%" class="table table-striped table-bordered table-hover">
        <thead class="thead-dark">
            <tr>
                <th>Id</th>
                <th>Nombre de archivo</th>
                <th>Usuario</th>
                <th>Nro de Registros</th>
                <th>Monto Total</th>
                <th>Fecha y hora</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>23</td>
                <td>Archivo.xls</td>
                <td>PBLANCAS</td>
                <td>1234</td>
                <td>1234</td>
                <td>12/12/2018 14:14</td>
            </tr>
        </tbody>
    </table>
</div>