<div class="container py-4">
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8 bg-white">
            <div class="panel panel-default">
                <div class="panel panel-heading">
                    <div class="py-4 ml-md-4">
                        <h5>{{strTipoProcesoMasivo}}</h5>
                        <h2>Resumen de Archivo a Procesar</h2>
                    </div>
                </div>
                <div class="panel panel-body">
                    <div class="px-4 pb-4">
                        <div class="form">
                            <div class="row">
                                <label for="" class="col-3 pr-0 ">Cantidad de Registros:</label>
                                <label for="" class="col">
                                    {{oCabeceraGestionMasiva.NroRegistrosArchivo}}
                                </label>
                            </div>
                            <div class="row">
                                <label for="" class="col-3 pr-0 ">Monto Total:</label>
                                <label for="" class="col ">
                                    {{oCabeceraGestionMasiva.MontoTotal}}
                                </label>
                            </div>
                            <div class="row">
                                <label for="" class="col-3 pr-0">Nombre del Archivo:</label>
                                <label for="" class="col ">
                                    {{oCabeceraGestionMasiva.NombreArchivo}}
                                </label>
                            </div>
                            <div class="row">
                                <label for="" class="col-3 pr-0">Usuario:</label>
                                <label for="" class="col ">
                                    {{oCabeceraGestionMasiva.NombreUsuario}}
                                </label>
                            </div>
                            <div class="row">
                                <label for="" class="col-3 pr-0">Fecha y Hora:</label>
                                &nbsp;&nbsp;&nbsp;<!-- cambiar por padding -->
                                <!-- [locale]="es" -->
                                <p-calendar [(ngModel)]="dteFechaActual" dateFormat="dd/mm/yy" 
                                    [disabled]="true"></p-calendar>
                            </div>
                            <div class="row">
                                <label for="" class="col-3 pr-0">Registros Invalidos:</label>
                                <label for="" class="col ">
                                    {{oCabeceraGestionMasiva.NroRegistrosInvalidos}}
                                </label>
                            </div>
                            <div *ngIf="!bExisteRegistrosInvalidos" class="row">
                                <div class="d-flex col-3 pr-0 align-items-center">Motivo/Razón:</div>
                                <div class="col">
                                    <input type="text" [(ngModel)]="strMotivoImportacion" 
                                        class="form-control" [disabled]="mostrarAnular"
                                     >
                                </div>
                            </div>
                        </div>

                        <div *ngIf="bExisteRegistrosInvalidos">
                            <div class="row py-2">
                                <div class="alert alert-warning" role="alert">
                                    {{strInvalidMessage}}
                                </div>
                            </div>
                            <app-dynamic-table 
                                [loHeaderTable]="loHeadersResumenPreliminar" 
                                [loData]="loDetalleInvalido">
                            </app-dynamic-table>
                            <div class="d-flex justify-content-end mb-3 pt-4 px-4">
                                <div>
                                    <button pButton type="button" (click)="CancelUpload()" 
                                        label="Retornar"></button>
                                </div>
                            </div>
                        </div>

                        <div *ngIf="!bExisteRegistrosInvalidos && !bIsConfirmed" 
                                class="d-flex justify-content-between mb-3 pt-4 px-4">
                            <div>
                                <button pButton type="button" (click)="ConfirmUpload()" 
                                    label="Confirmar Carga"></button>
                            </div>
                            <div>
                                <button pButton type="button" (click)="CancelUpload()" 
                                    label="Cancelar Carga"></button>
                            </div>
                        </div>

                        <div *ngIf="!existeRegistrosInvalidos && bIsConfirmed" 
                                class="d-flex justify-content-between mb-3 pt-4 px-4">
                            <div>
                                <button pButton type="button" (click)="StopUpload()" 
                                    label="Anular Carga"></button>
                            </div>                            
                        </div>

                        <div *ngIf="bIsConfirmed"
                                class="d-flex justify-content-between mb-3 pt-4 px-4">
                            <img src="./assets/images/loadingCircle.gif" />
                        </div>

                    </div>
                </div>

            </div>
        </div>

        <div class="col-sm-2"></div>
    </div>
</div>