<div class="container py-4">
  <div class="row">
    <div class="col-sm-1"></div>

    <div class="col-sm-10 bg-white">
      <div class="panel panel-default">
        <div class="panel panel-heading">
          <div class="py-4 ml-md-4">
            <h5>{{strTipoProcesoMasivo}}</h5>
            <h2>Resumen de Procesamiento</h2>
          </div>
        </div>

        <div class="panel panel-body">
          <div class="px-4 ml-md-2 pb-4">
            <div class="form">

              <div class="row">
                <label for="" class="col-sm-3 ">Registros Totales:</label>
                <label for="" class="col-auto ">
                  {{oCabeceraGestionMasiva.NroRegistrosArchivo}}
                </label>
              </div>
              <div class="row">
                <label for="" class="col-sm-3">Registros Válidos:</label>
                <label for="" class="col-auto ">
                  {{oCabeceraGestionMasiva.NroRegistrosValidos}}
                </label>
              </div>
              <div class="row">
                <label for="" class="col-sm-3">Registros Inválidos:</label>
                <label for="" class="col-auto ">
                  {{oCabeceraGestionMasiva.NroRegistrosInvalidos}}
                </label>
              </div>
              <div class="row">
                <label for="" class="col-sm-3">Registros Procesados:</label>
                <label for="" class="col-auto ">
                  {{oCabeceraGestionMasiva.NroRegistrosProcesados}}
                </label>
              </div>
              
              <div class="row">
                <label for="" class="col-sm-3">Registros Anulados:</label>
                <label for="" class="col-auto ">
                  {{oCabeceraGestionMasiva.NroRegistrosAnulados}}
                </label>
              </div>
              <div class="row">
                <label for="" class="col-sm-3">Registros Fallidos:</label>
                <label for="" class="col-auto ">
                  {{oCabeceraGestionMasiva.NroRegistrosFallidos}}
                </label>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <div class="d-flex justify-content-end">
                    <button pButton type="button" icon="pi pi-file" 
                      (click)="DownloadRecords()" label="Descargar"></button>
                  </div>
                </div>
                <!-- <div class="col-auto">
                  
                </div> -->
              </div>

            </div>

            <app-dynamic-table 
              [loHeaderTable]="loHeadersResumenProcesamiento" 
              [loData]="loDetalleInvalido">
            </app-dynamic-table>

            <div class="d-flex justify-content-end">
              <button pButton type="button" (click)="BackToStart()" label="Salir"></button>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="col-sm-1"></div>
  </div>
</div>
