<div [hidden]="this.consultaOn || this.resumenPreliminarOn || this.resumenProcesamientoOn" class="container">
  <div class="">
    <div class=""></div>
    <div class="">
        {{this.strTipoTransaccion}} Masivos
        <app-importacion (oSimularSubida)="this.resumenPreliminarOn = true" (oCambioEstado)="this.consultaOn = !this.consultaOn"></app-importacion>
    </div>
    <div class=""></div>
</div>
</div>

<div [hidden]="!this.resumenPreliminarOn" class="container">
  <div class="row">
    <div class="col-md-12">
      <app-resumen-preliminar (oConfirmarSubida)="this.resumenProcesamientoOn = true" (oCancelarSubida)="this.resumenPreliminarOn = false"></app-resumen-preliminar>
    </div>
  </div>
</div>

<div [hidden]="!this.resumenProcesamientoOn" class="container">
  <div class="row">
    <div class="col-md-12">
      <app-resumen-procesamiento [strTipoTransaccion]="this.strTipoTransaccion" (oVolverAlInicio)="this.resumenProcesamientoOn = false"></app-resumen-procesamiento>
    </div>
  </div>
</div>

<div [hidden]="!this.consultaOn" class="container">
  <div class="row">      
      <div class="col-md-12">
          <app-consulta [strTipoTransaccion]="this.strTipoTransaccion" (oCambioEstado)="this.consultaOn = !this.consultaOn"></app-consulta>
      </div>
  </div>
</div>
