<div *ngIf="!bIsConsultaOn && !bIsResumenPreliminarOn && !bIsResumenProcesamientoOn" class="container">
  <app-importacion 
      (EESetArchivoImportado)="SetArchivoImportado($event)"
      (EEUploadFileRecords)="UploadFileRecords()"
      (EECleanFileRecords)="CleanFileRecords()" 
      [strTipoProcesoMasivo]="strTipoProcesoMasivo" 
      [numProgresoCarga]="numProgresoCarga">
  </app-importacion>
</div>

<div *ngIf="bIsResumenPreliminarOn" class="container">
  <app-resumen-preliminar 
      (confirmUpload)="confirmUpload($event)"
      (cancelUpload)="this.bIsResumenPreliminarOn = false"
      (stopUpload)="stopUpload()"
      [cols]="headersPreliminarFallidos"
      [strTipoProcesoMasivo]="strTipoProcesoMasivo"
      [obeAjusteMasivo]="obeAjusteMasivo"
      [existeRegistrosInvalidos]="existeRegistrosInvalidos" 
      >
  </app-resumen-preliminar>
</div>

<div *ngIf="bIsResumenProcesamientoOn" class="container">
  <app-resumen-procesamiento
      (backToStart)="backToStart()"
      [strTipoProcesoMasivo]="strTipoProcesoMasivo"
      [cols]="this.headersPreliminarFallidos"
      [obeAjusteMasivo]="obeAjusteMasivo">
  </app-resumen-procesamiento>
</div>

<div *ngIf="bIsConsultaOn" class="container">
  <app-consulta-historial 
      (statusChange)="this.bIsConsultaOn = !this.bIsConsultaOn"
      [strTipoProcesoMasivo]="strTipoProcesoMasivo"
      [headersConsulta] ="this.headersConsulta">
  </app-consulta-historial>
</div>
