<div *ngIf="!bIsConsultaOn && !bIsResumenPreliminarOn && !bIsResumenProcesamientoOn" class="container">
  <app-importacion 
      (EESetArchivoImportado)="SetArchivoImportado($event)"
      (EEUploadFileRecords)="UploadFileRecords()"
      (EECleanFileRecords)="CleanFileRecords()"
      (EELookUpHistorial)="LookUpHistorial()" 
      [strTipoProcesoMasivo]="strTipoProcesoMasivo" 
      [numProgresoCarga]="numProgresoCarga">
  </app-importacion>
</div>

<div *ngIf="bIsResumenPreliminarOn" class="container">
  <app-resumen-preliminar 
      (EEConfirmUpload)="ConfirmUpload($event)"
      (EECancelUpload)="CancelUpload()"
      (EEStopUpload)="StopUpload()"
      [loHeadersResumenPreliminar]="loHeadersResumen"
      [loDetalleInvalido]="loDetalleInvalidoAjusteMasivo"
      [oCabeceraGestionMasiva]="oAjusteMasivo.obeCabecera"
      [strTipoProcesoMasivo]="strTipoProcesoMasivo"
      [bExisteRegistrosInvalidos]="bExisteRegistrosInvalidos"
      [bIsConfirmed]="bIsConfirmed" 
      >
  </app-resumen-preliminar>
</div>

<div *ngIf="bIsResumenProcesamientoOn" class="container">
  <app-resumen-procesamiento
      (EEBackToStart)="BackToStart()"
      [loHeadersResumenProcesamiento]="loHeadersResumen"
      [loDetalleInvalido]="loDetalleInvalidoAjusteMasivo"
      [oCabeceraGestionMasiva]="oAjusteMasivo.obeCabecera"
      [strTipoProcesoMasivo]="strTipoProcesoMasivo">
  </app-resumen-procesamiento>
</div>

<div *ngIf="bIsConsultaOn" class="container">
  <app-consulta-historial 
      (EEBackToStart)="BackToStart()"
      (EESearchHistorial)="SearchAdjustmentHistorial($event)"
      (EESearchHistorialDefault)="SearchAdjustmentHistorialDefault()"
      [loHeadersConsultaHistorial] ="loHeadersConsultaHistorial"
      [loResultSearch]="loRegistroAuditoriaSearched"
      [strTipoProcesoMasivo]="strTipoProcesoMasivo">
  </app-consulta-historial>
</div>
