<div>
  <h3>Resumen de Archivo a Procesar</h3>
  <table>
      <tr>
          <td>Cantidad de Registros:</td>
          <td>30872</td>
      </tr>
      <tr>
          <td>Monto Total:</td>
          <td>234514</td>
      </tr>
      <tr>
          <td>Nombre del Archivo:</td>
          <td>Archivo.xls</td>
      </tr>
      <tr>
          <td>Usuario:</td>
          <td>Juan Fernandez</td>
      </tr>
      <tr>
          <td>Fecha y Hora:</td>
          <td></td>
      </tr>
      <tr>
          <td>Registros Fallidos:</td>
          <td>208</td>
      </tr>
      <tr>
          <td>Motivo/Razón:</td>
          <td><input type="text"></td>
      </tr>
  </table>

  <p>Detalle de Registros Fallidos</p>
  <table>
      <tr>
          <th>Fila</th>
          <th>Columna</th>
          <th>Detalle</th>
      </tr>
      <th>
          <td>1</td>
          <td>2</td>
          <td>detalle</td>
      </th>
  </table>
  <p><button>Confirmar Carga</button></p>
  <p><button>Cancelar Carga</button></p>
</div>