<div class="cus-container">
  <p-card title="Pagos Masivos">
    <div class="custom-file mb-3">
        <input type="file" class="custom-file-input" id="customFile" name="filename"
            accept=".csv" (change)="csv2Array($event)">
        <label class="custom-file-label" for="customFile">Seleccione su archivo CSV</label>
    </div>

    <form class="md-form">
        <div class="file-field">
            <div class="btn btn-primary btn-sm float-left">
                <span>Choose file</span>
                <input type="file" mdbFileSelect>
            </div>
            <div class="file-path-wrapper">
                <input class="file-path validate" type="text" 
                placeholder="Upload your file">
            </div>
        </div>
    </form>

    <label class="custom-file d-block">
      <input data-toggle="custom-file" data-target="#company-logo" 
        type="file" name="company_logo" accept="image/png" class="custom-file-input">
      <span id="company-logo" class="custom-file-control custom-file-name" 
        data-content="Upload company logo..."></span>
    </label>
  </p-card>
</div>