<div>
  <h2>Reporte de Pagos Masivos</h2>
  <table>
      <tr>
          <td>Desde:</td>
          <td><input type="date"></td>
      </tr>
      <tr>
          <td>Hasta:</td>
          <td><input type="date"></td>
      </tr>
  </table>    
  <table>
      <tr>
          <th>Id</th>
          <th>Nombre de archivo</th>
          <th>Usuario</th> 
          <th>Nro de Registros</th>
          <th>Monto Total</th>
          <th>Fecha y hora</th>
      </tr>
      <tr>
          <td>23</td>
          <td>Archivo.xls</td>
          <td>PBLANCAS</td>
          <td>1234</td>
          <td>1234</td>
          <td>12/12/2018 14:14</td>
      </tr>
  </table>
  <p><button>Salir</button></p>
</div>