<div class="container py-4">
  <div class="panel panel-default bg-white">
    <div class="panel-heading">
      <div class="py-4 ml-md-4">
        <h2>Reporte de Auditoría</h2>
      </div>
    </div>

    <div class="panel-body">
      <div class="px-4 ml-md-4 pb-4">
        <form class="form">
          <div class="form-group row">
            <label for="desde" class="col-sm-1 col-form-label">Desde:</label>
            <div class="col-sm-2">
              <input type="date" class="form-control" id="desde">
            </div>
          </div>
          <div class="form-group row">
            <label for="hasta" class="col-sm-1 col-form-label">Hasta:</label>
            <div class="col-sm-2">
              <input type="date" class="form-control" id="hasta">
            </div>
            <button class="btn btn-primary" id="btnConsultar">Consultar</button>
          </div>
        </form>

        <div class="py-2">
          <table class="table">
            <tr>
              <th>Id Proceso</th>
              <th>Tipo</th>
              <th>Usuario</th>
              <th>Fecha y Hora</th>
              <th>Motivo</th>
            </tr>
            <tr>
              <td>12</td>
              <td>Borrado</td>
              <td>PBASDTS</td>
              <td>23/10/2018 12:18</td>
              <td>Motivo</td>
            </tr>
          </table>
        </div>
        <div class="d-flex justify-content-end">
            <button class="btn btn-primary" id="btnConsultar">  Salir  </button>
        </div>
        
      </div>
    </div>
  </div>
</div>