
<div [hidden]="this.consultaOn || this.resumenPreliminarOn || this.resumenProcesamientoOn" class="container">
    <div class="">
      <div class=""></div>
      <div class="">
          {{this.transaccion}} Masivos
          <app-importacion (upload)="this.resumenPreliminarOn = true" (statusChange)="this.consultaOn = !this.consultaOn"></app-importacion>
      </div>
      <div class=""></div>
  </div>
  </div>
  
  <div [hidden]="!this.resumenPreliminarOn" class="container">
    <div class="row">
      <div class="col-md-12">
        <app-resumen-preliminar (confirmUpload)="this.resumenProcesamientoOn = true" (cancelUpload)="this.resumenPreliminarOn = false"></app-resumen-preliminar>
      </div>
    </div>
  </div>
  
  <div [hidden]="!this.resumenProcesamientoOn" class="container">
    <div class="row">
      <div class="col-md-12">
        <app-resumen-procesamiento [transaccion]="this.transaccion" (backToStart)="this.resumenProcesamientoOn = false"></app-resumen-procesamiento>
      </div>
    </div>
  </div>
  
  <div [hidden]="!this.consultaOn" class="container">
    <div class="row">      
        <div class="col-md-12">
            <app-consulta [transaccion]="this.transaccion" (statusChange)="this.consultaOn = !this.consultaOn"></app-consulta>
        </div>
    </div>
  </div>
  

<!-- <div class="cus-container">
  <p-card title="Pagos Masivos">
    <div class="custom-file mb-3">
        <input type="file" class="custom-file-input" id="customFile" name="filename"
            accept=".csv" (change)="csv2Array($event)">
        <label class="custom-file-label" for="customFile">Seleccione su archivo CSV</label>
    </div>

    <form class="md-form">
        <div class="file-field">
            <div class="btn btn-primary btn-sm float-left">
                <span>Choose file</span>
                <input type="file" mdbFileSelect>
            </div>
            <div class="file-path-wrapper">
                <input class="file-path validate" type="text" 
                placeholder="Upload your file">
            </div>
        </div>
    </form>
  </p-card>
</div> -->
