<div>
    <h3>Resumen de {{transaccion}} Cargado</h3>    
    <table>
        <tr>
            <td>Registros Totales:</td>
            <td>30872</td>
        </tr>
        <tr>
            <td>Registros Válidos:</td>
            <td>2344</td>
        </tr>
        <tr>
            <td>Registros Fallidos:</td>
            <td>123</td>
        </tr>        
    </table>
    <p>Detalle de Registros Fallidos</p>
    <table>
        <tr>
            <th>Fila</th>
            <th>Columna</th>
            <th>Detalle</th>
        </tr>
        <tr>
            <td>1</td>
            <td>2</td>
            <td>detalle</td>
        </tr>
    </table>
    <p><button class="btn btn-dtv" (click)="goBack()">Confirmar {{transaccion}}</button></p>
    <p><button class="btn btn-dtv" (click)="goBack()">Cancelar</button></p>
</div>