<!-- <div [hidden]="this.consultaOn || this.resumenPreliminarOn || this.resumenProcesamientoOn" class="container">
  <div class="">
    <div class=""></div>
    <div class="">      
      <app-importacion (upload)="this.resumenPreliminarOn = true"
                       [transaccion]="this.transaccion"
                       (statusChange)="this.consultaOn = !this.consultaOn"></app-importacion>
    </div>
    <div class=""></div>
  </div>
</div>

<div *ngIf="this.resumenPreliminarOn" class="container">
  <div class="row">
    <div class="col-md-12">
      <app-resumen-preliminar (confirmUpload)="this.resumenProcesamientoOn = true"
                              
                              [registros]="this.registros"
                              (cancelUpload)="this.resumenPreliminarOn = false"></app-resumen-preliminar>
    </div>
  </div>
</div>

<div *ngIf="this.resumenProcesamientoOn" class="container">
  <div class="row">
    <div class="col-md-12">
      <app-resumen-procesamiento [transaccion]="this.transaccion"
                                 
                                 [registros]="this.registrosProcesamiento"
                                 (backToStart)="this.resumenProcesamientoOn = false"></app-resumen-procesamiento>
    </div>
  </div>
</div>

<div *ngIf="this.consultaOn" class="container">
  <div class="row">
    <div class="col-md-12">
      <app-consulta [transaccion]="this.transaccion"
                    [headersConsulta] ="this.headersConsulta"                    
                    [estados]="this.estados"
                    (statusChange)="this.consultaOn = !this.consultaOn"></app-consulta>
    </div>
  </div>
</div> -->
